# Python
__pycache__/
*.pyc
.venv/
env/
.pytest_cache/

# Database
*.db

# Environment Secrets
.env
.env.*

# Node / React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS / Logs
.DS_Store
Thumbs.db
*.log